<footer>
    <div class="contact">
        <h3>Contact</h3>
        <div class="socials">
            <a href="#" class="social">
                <i class="bi bi-envelope-check-fill"></i>
                <br>
                <small>jesusisaac360@gmail.com</small>
            </a>
            <a href="#" class="social">
                <i class="bi bi-github"></i>
                <br>
                <small>IsaacGE</small>
            </a>
            <a href="#" class="social">
                <i class="bi bi-linkedin"></i>
                <br>
                <small href="#">Isaac Gallegos</small>
            </a>
            <a href="#" class="social">
                <i class="bi bi-facebook"></i>
                <br>
                <small href="#">Isaac Gallegos</small>
            </a>
        </div>
    </div>
    <p><i class="bi bi-c-circle"></i>&nbsp;Webpage - Isaac Gallegos</p>
</footer>