<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"> <img src="assets/images/icon.png" alt="icon-webstore"
                width="25">&nbsp;<strong>WebStore</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
            aria-controls="offcanvasDarkNavbar">
            <i class="bi bi-list"></i>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
            aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Webstore menu</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link" href="/"><i class="bi bi-house-fill"></i>&nbsp;Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/shoppingCart"><i class="bi bi-cart4"></i>&nbsp;Shopping cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/products"><i class="bi bi-basket"></i>&nbsp;Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users"><i class="bi bi-people-fill"></i>&nbsp;Users</a>
                    </li>
                    <li class="nan-item">
                        <a href="/categories" class="nav-link"><i class="bi bi-list-ul"></i>&nbsp;Categories</a>
                    </li>
                    <li class="nan-item row-items">
                        <a class="nav-link" href="/signIn"><i class="bi bi-box-arrow-in-right"></i>Sign in</a>
                            <small>or</small>
                        <a class="nav-link" href="/signUp"><i class="bi bi-person-plus-fill"></i>Sign up</a>
                    </li>
                    <li class="nan-item">
                        <a href="#" class="nav-link"><i class="bi bi-box-arrow-in-left"></i>&nbsp;Exit</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>